@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    margin: 0;
    background-color: #ffffff;
    color: #1a1a1a;
    font-family: 'Arial', sans-serif;
  }
  #root {
    width: 100%;
    max-width: 100%;
    text-align: left;
    border: none;
  }
}
