@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    margin: 0;
    background-color: #0f172a;
    color: white;
    font-family: 'Arial', sans-serif;
  }
  #root {
    width: 100%;
    max-width: 100%;
    text-align: left;
    border: none;
  }
}
